<section class="d-flex align-items-center justify-content-center bg-main-light error-page">
    <div class="aontainer">
        <div class="w-75 mx-auto text-center">
            <h2>404</h2>
            <h3>File not found</h3>
            <p>The site configured at this address does not contain the requested file.
            </p>
            <p>If this is your site, make sure that the filename case matches the URL as well as any file permissions.
            </p>
            <p>For root URLs (like http://example.com/) you must provide an index.html file.

            </p>
            <p>
                <a class="text-main" href="https://docs.github.com/en/pages">
                    Read the full documentation
                </a>
                for more information about using
                <span class="fw-bold text-main"> GitHub Pages.</span>

            </p>
                <a href="https://www.githubstatus.com/" class="text-main"> GitHub Status</a>
                <span>-</span>
                <a href="https://x.com/githubstatus?mx=2" class="text-main"> githubstatus</a>
            <span>
                <i class="fa-brands fa-github"></i>
            </span>
        </div>
    </div>
</section>